# {{ ansible_managed }}
[Unit]
Description={{ svc_description | default(svc_name) }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ svc_name }}
Group={{ svc_name }}
EnvironmentFile=/etc/default/{{ svc_name }}
ExecStart=/usr/local/bin/{{ svc_binary }}
Restart=on-failure
RestartSec=3

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

[Install]
WantedBy=multi-user.target
